@use "../util"as *;
@use "../globals"as *;

body {
  font-family: "Manrope", sans-serif;
  background-color: $light-Grayish-Blue;
}

.margin-top>* {
  margin-top: 20px;
}


%arrow {
  cursor: pointer;
  margin-left: auto;
  background-color: $light-Grayish-Blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(/app/assets/images/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  display: grid;
  place-content: center;

  padding: 2rem;
}

.article {
  border-radius: 10px;
  line-height: 1.5;
  background-color: #fff;
  max-width: 400px;

}

.card {


  h2 {
    font-size: 1.3rem;
    font-weight: 800;
    color: $very-Dark-Grayish-Blue;
  }

  p {
    color: $desaturated-Dark-Blue;
  }


}

.card>h2,
p {
  padding: 0 1.5rem;
}

footer {
  position: relative;
  overflow: hidden;




  max-height: 80px;

  .footer-section {
    padding: 1.5rem;
    display: flex;
    gap: 20px;
  }


  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }


  h3 {
    color: $very-Dark-Grayish-Blue;
    font-weight: 800;
  }

  p {
    color: $desaturated-Dark-Blue;
  }

  .open-share {
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 90px;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .4s ease;

    background-color: $very-Dark-Grayish-Blue;

    &.active {
      top: 2px;
    }

    #arrow {
      position: absolute;
      right: 25px;
      @extend %arrow;

    }


    ul {
      width: 100px;
      display: flex;
      justify-content: space-between;
    }

    img {

      width: 20px;
      height: 20px;
    }


  }

  .arrow {

    @extend %arrow;

  }

}

@media (min-width:50rem) {
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .margin-top>* {
    margin-top: 10px;
  }

  .article {
    min-width: 800px;
    display: grid;

    grid-template-columns: 300px auto;

  }

  .head {
    display: flex;


    img {
      overflow: hidden;
     
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .card {
    padding-top: 10px;
    height: 180px;
  }

  footer {
    overflow: visible;

    .open-share {
      padding: 1px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 1px;
      position: absolute;
      top: -40px;
      left: 355px;
      height: 40px;
      width: 200px;

      opacity: 0;
      transition: all .4s ease;

      background-color: $very-Dark-Grayish-Blue;

      p {
        padding: 0 10px
      }


      &.active {
        opacity: 1;
        top: -40px;
      }

      .triangle {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 30px;
        left: 88px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 25px solid $very-Dark-Grayish-Blue;


      }

      #arrow {
        display: none;


      }

    }
  }

}